@import url('./normalize.css');

html { font-size: 0.625em; }

body { font-size: 1.6rem; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background-color: #AAA;
}

:root {
  --color-blanco: #E3E3E3;
}

.contenedor {
  color: var(--color-blanco);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  font-family: sans-serif;
}

.formulario {
  width: 70vw;
  padding: 1.5rem;
  padding-bottom: 0.8rem;
  border-radius: 0.5rem;
  background: #262626;
  display: grid;
  grid-gap: 0.75rem 1.8rem;
  grid-template-areas: "nombre    usuario"
                       "telefono  correo"
                       "password  password2"
                       "boton     boton";
}

[input-id="nombre"] {
  grid-area: nombre;
}

[input-id="usuario "] {  
  grid-area: usuario; 
}

[input-id="telefono"] {
  grid-area: telefono;
}

[input-id="correo"] {
  grid-area: correo;
}

[input-id="password"] {
  grid-area: password;
}

[input-id="password2"] {
  grid-area: password2;
}

.formulario__boton--contenedor {
  margin: 0.6rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: boton;
}

.formulario__boton {
  color: var(--color-blanco);
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--color-blanco);
  border-radius: 2px; 
  background-color: transparent;
  outline: none;
  font-size: 18px;
}

.formulario__boton:hover {
  color: #000;
  background-color: var(--color-blanco);
  transition: all 0.25s linear;
}

.formulario__mensaje {
  color: var(--color-grupo-requerido);
  width: 100%;
  height: 0;
  margin: 8px 0 0;
  text-align: center;
  font-weight: bold;
  transform: scale(0);
}

.formulario__mensaje--activo {
  height: auto;
  transform: scale(1);
}

.formulario__signoRequerido {
  font-family: monospace;
}

/*

  (Media Queries)
  
*/
@media screen and (max-width: 700px) {
  
  .formulario {
    grid-template-areas: "nombre"
                         "usuario"
                         "telefono"
                         "correo"
                         "password"
                         "password2"
                         "boton";
  }
  
}

@media screen and (max-width: 500px) {
  
  .formulario {
    width: 85vw;
  }
  
}